<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">¿Olvidaste tu contraseña?</div>
            <div class="mt-0.5 font-medium">Complete el formulario para restablecer su contraseña</div>

            <!-- Alert -->
            <angel-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </angel-alert>

            <!-- Forgot password form -->
            <form class="mt-8" [formGroup]="forgotPasswordForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico</mat-label>
                    <input id="name_user" matInput [formControlName]="'name_user'">
                    <mat-error *ngIf="forgotPasswordForm?.get('name_user')?.hasError('required')">
                        Correo electrónico requerido
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm?.get('name_user')?.hasError('email')">
                        Ingresa un correo valido por favor
                    </mat-error>
                </mat-form-field>
                <!-- Submit button -->
                <button class="angel-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled " (click)="sendConfirmationCode()">
                    <span class="text-white"
                        *ngIf="(forgotPasswordForm.enabled && statusButton) || (forgotPasswordForm.disabled && !statusButton)">
                        Enviar enlace
                    </span>
                    <mat-progress-spinner *ngIf="forgotPasswordForm.disabled && statusButton" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </form>
            <!-- Verification Code -->
            <form *ngIf="activeSectionCode" class="mt-8" [formGroup]="verificationCodeForm">
                <!-- Email field -->
                <mat-form-field class="w-full mt-8">
                    <mat-label>Código confirmación</mat-label>
                    <input id="code" matInput [formControlName]="'code'">
                    <mat-error *ngIf="verificationCodeForm?.get('code')?.hasError('required')">
                        Código requerido
                    </mat-error>
                    <mat-error *ngIf="verificationCodeForm?.get('code')?.hasError('minlength')">
                        El código no debe tener menos de 6 digitos
                    </mat-error>
                    <mat-error *ngIf="verificationCodeForm?.get('code')?.hasError('maxlength')">
                        El código no debe tener más de 6 digitos
                    </mat-error>
                </mat-form-field>
                <!-- {{verificationCodeForm.get('code')!.errors | json}} -->

                <!-- Submit button -->
                <button class="angel-mat-button-large w-full mt-3" type="button" mat-flat-button [color]="'primary'"
                    [disabled]="(verificationCodeForm.disabled) || !(!verificationCodeForm.get('code')!.errors)"
                    (click)="codeVerification()">
                    <span class="text-white"
                        *ngIf="(verificationCodeForm.enabled && statusButtonVerificationCode) || (verificationCodeForm.disabled && !statusButtonVerificationCode)">
                        Comprobar código
                    </span>
                    <mat-progress-spinner *ngIf="verificationCodeForm.disabled && statusButtonVerificationCode"
                        [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                <div class="flex justify-center mt-5 font-medium">
                    <!-- Redirect countdown -->
                    <ng-container *ngIf="countdown > 0 && !statusButton && !statusButtonVerificationCode">
                        Redirigiendo en {{countdown | i18nPlural: countdownMapping }}
                    </ng-container>

                    <!-- Redirect message -->
                    <ng-container *ngIf="countdown === 0 && !statusButton && !statusButtonVerificationCode">
                        ¡Ahora está siendo redirigido!
                    </ng-container>
                </div>
            </form>

            <!-- Form footer -->
            <div class="mt-8 text-md font-medium text-secondary">
                <span>
                    Volver a</span>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['../../auth/sign-in']">Iniciar
                    sesión
                </a>
            </div>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>{{_app_data.nameProject}}</div>
                <div class="text-3xl mt-6">{{_app_data.descriptionProject}}</div>
            </div>
            <div class="text-3xl text-md tracking-tight leading-6 text-gray-400 mt-3">
                {{_app_data.companyProject}}
            </div>
            <div class="flex items-center mt-3">
                <div class="font-medium tracking-tight text-gray-400">{{_app_data.sloganCompany}}</div>
            </div>
        </div>
    </div>
</div>