<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">{{mailServer.host_mail_server == '' ? mailServerForm.getRawValue().host_mail_server :
            mailServer.host_mail_server}}</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModalMailServer()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto overflow-y-auto">
        <div class="flex flex-col w-full">
            <!-- View mode -->
            <ng-container *ngIf="!editMode">
                <!-- Header -->
                <div
                    class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
                    <!-- Background -->
                    <div class="w-full h-40 bg-black z-10 opacity-0">
                    </div>
                    <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
                    </h1>
                    <!-- Light version -->
                    <img class="dark:hidden absolute inset-0 object-cover w-full h-full"
                        src="assets/images/background.svg">
                    <!-- Dark version -->
                    <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                        src="assets/images/background-on-dark.svg">
                </div>
                <!-- Entity -->
                <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
                    <div class="w-full max-w-3xl">
                        <!-- Actions -->
                        <div
                            class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                            <button class="ml-auto" mat-stroked-button (click)="toggleEditMode(true)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <span class="ml-1">Editar</span>
                            </button>
                        </div>
                        <div class="flex flex-col space-y-8">
                            <!-- type_mail_server -->
                            <!-- Type Enum -->
                            <ng-container *ngIf="mailServer.type_mail_server">
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'mat_outline:category'"></mat-icon>
                                    <div class="ml-6 leading-6">{{typeSelect.name_type}}</div>
                                </div>
                            </ng-container>
                            <!-- host_mail_server -->
                            <ng-container *ngIf="mailServer.host_mail_server">
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                    <div class="ml-6 leading-6">{{mailServer.host_mail_server}}</div>
                                </div>
                            </ng-container> <!-- port_mail_server -->
                            <ng-container *ngIf="mailServer.port_mail_server">
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                    <div class="ml-6 leading-6">{{mailServer.port_mail_server}}</div>
                                </div>
                            </ng-container> <!-- secure_mail_server -->
                            <ng-container>
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:status-online'"></mat-icon>
                                    <div *ngIf="mailServer.secure_mail_server"
                                        class="ml-6 mt-1 w-3 h-3 bg-green-700 rounded-full">
                                    </div>
                                    <div *ngIf="!mailServer.secure_mail_server"
                                        class="ml-6 mt-1 w-3 h-3 bg-red-600 rounded-full">
                                    </div>
                                </div>
                            </ng-container> <!-- user_mail_server -->
                            <ng-container *ngIf="mailServer.user_mail_server">
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                    <div class="ml-6 leading-6">{{mailServer.user_mail_server}}</div>
                                </div>
                            </ng-container> <!-- password_mail_server -->
                            <ng-container *ngIf="aesDecrypt(mailServer.password_mail_server)">
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'mat_outline:password'"></mat-icon>
                                    <div class="ml-6 leading-6">{{aesDecrypt(mailServer.password_mail_server)}}</div>
                                </div>
                            </ng-container> <!-- status_mail_server -->
                            <ng-container>
                                <div class="flex sm:items-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:status-online'"></mat-icon>
                                    <div *ngIf="mailServer.status_mail_server"
                                        class="ml-6 mt-1 w-3 h-3 bg-green-700 rounded-full">
                                    </div>
                                    <div *ngIf="!mailServer.status_mail_server"
                                        class="ml-6 mt-1 w-3 h-3 bg-red-600 rounded-full">
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Edit mode -->
            <ng-container *ngIf="editMode">
                <!-- Header -->
                <div
                    class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
                    <!-- Background -->
                    <div class="w-full h-40 bg-black z-10 opacity-25">
                    </div>
                    <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
                    </h1>
                    <!-- Light version -->
                    <img class="dark:hidden absolute inset-0 object-cover w-full h-full"
                        src="assets/images/background.svg">
                    <!-- Dark version -->
                    <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                        src="assets/images/background-on-dark.svg">
                </div>
                <!-- form -->
                <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                    <div class="w-full max-w-3xl">
                        <!-- Actions -->
                        <div
                            class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                            <!-- Save -->
                            <button mat-flat-button [color]="'primary'" class="ml-auto"
                                [disabled]="mailServerForm.invalid" [matTooltip]="'Guardar'"
                                (click)="updateMailServer()">
                                Guardar
                            </button>
                            <!-- Delete -->
                            <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'"
                                (click)="deleteMailServer()">
                                Eliminar
                            </button>
                            <!-- Cancel -->
                            <button mat-stroked-button class="ml-2" [matTooltip]="'Cancelar'"
                                (click)="toggleEditMode(false)">
                                Cancelar
                            </button>
                        </div>
                        <form [formGroup]="mailServerForm" class="mb-8">
                            <!-- Alert -->
                            <angel-alert class="mt-4 mb-8" *ngIf="mailServerForm.invalid || showAlert"
                                [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                                [@shake]="alert.type === 'error'">
                                <!-- MessageAPI if alert is actived for the component -->
                                {{alert.message}}
                                <!-- type_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('type_mail_server')?.hasError('required')">
                                    • Seleccione el tipo de servidor de correo
                                </mat-error>
                                <!-- host_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('host_mail_server')?.hasError('required')">
                                    • Ingrese host del servidor de correo
                                </mat-error>
                                <mat-error
                                    *ngIf="mailServerForm.get('host_mail_server')?.hasError('cannotContainSpace')">
                                    • El host del servidor de correo no admite espacios en blanco
                                </mat-error>
                                <!-- port_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('port_mail_server')?.hasError('required')">
                                    • Ingrese puerto del servidor de correo
                                </mat-error>
                                <mat-error
                                    *ngIf="mailServerForm.get('port_mail_server')?.hasError('cannotContainSpace')">
                                    • El puerto del servidor de correo no admite espacios en blanco
                                </mat-error>
                                <mat-error *ngIf="mailServerForm.get('port_mail_server')?.hasError('pattern')">
                                    • El puerto del servidor de correo solo admite números
                                </mat-error>
                                <!-- secure_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('secure_mail_server')?.hasError('required')">
                                    • Seleccione el secure del servidor de correo
                                </mat-error>
                                <!-- user_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('user_mail_server')?.hasError('required')">
                                    • Ingrese usuario del servidor de correo
                                </mat-error>
                                <mat-error
                                    *ngIf="mailServerForm.get('user_mail_server')?.hasError('cannotContainSpace')">
                                    • El usuario del servidor de correo no admite espacios en blanco
                                </mat-error>
                                <!-- password_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('password_mail_server')?.hasError('required')">
                                    • Ingrese la contraseña del servidor de correo
                                </mat-error>
                                <!-- status_mail_server -->
                                <mat-error *ngIf="mailServerForm.get('status_mail_server')?.hasError('required')">
                                    • Seleccione el estado del servidor de correo
                                </mat-error>
                            </angel-alert>
                            <!-- Alert -->
                            <!-- type_mail_server -->
                            <!-- Type Enum -->
                            <div>
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Tipo</mat-label>
                                    <mat-select [formControlName]="'type_mail_server'">
                                        <ng-container *ngFor="let type of typeMailServer">
                                            <mat-option [value]="type.value_type">
                                                {{type.name_type}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- host_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Host</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:credit-card'">
                                    </mat-icon>
                                    <input matInput maxlength="67" [formControlName]="'host_mail_server'"
                                        [placeholder]="'Ingrese host del servidor de correo'" [spellcheck]="false">
                                </mat-form-field>
                            </div> <!-- port_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Puerto</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:credit-card'">
                                    </mat-icon>
                                    <input matInput maxlength="5" [formControlName]="'port_mail_server'"
                                        [placeholder]="'Ingrese puerto del servidor de correo'" [spellcheck]="false">
                                </mat-form-field>
                            </div> <!-- secure_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Secure</mat-label>
                                    <mat-select [formControlName]="'secure_mail_server'">
                                        <mat-option [value]="true">Activo</mat-option>
                                        <mat-option [value]="false">Inactivo</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> <!-- user_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Usuario</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:credit-card'">
                                    </mat-icon>
                                    <input matInput maxlength="320" [formControlName]="'user_mail_server'"
                                        [placeholder]="'Ingrese usuario del servidor de correo'" [spellcheck]="false">
                                </mat-form-field>
                            </div> <!-- password_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Contraseña</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'mat_outline:password'">
                                    </mat-icon>
                                    <input matInput maxlength="250" [formControlName]="'password_mail_server'"
                                        [placeholder]="'Ingrese la contraseña del servidor de correo'"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div> <!-- status_mail_server -->
                            <div class="mt-8">
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-label>Estado</mat-label>
                                    <mat-select [formControlName]="'status_mail_server'">
                                        <mat-option [value]="true">Activo</mat-option>
                                        <mat-option [value]="false">Inactivo</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>